= form_for @user, url: signup_index_path, method: :post do |f|
  = hidden_field_tag :current_step, 'step3'
  = f.fields_for :profile do |p|

    = p.label :city, "市区町村"
    = p.text_field :city
    
    
  = f.submit '登録を完了する'